.Smile {
	border: 1px #0672DE solid;
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	width: 30%;
	cursor: pointer;
}

.Smile:hover {
	border: 4px #0672DE solid;
}

.Img {
	width: 100%;
}

.Title {
	text-align: center;
}