.smile {
	border: 1px #0672DE solid;
	border-radius: 5px;
	padding: 5px;
	margin-right: 5px;
	width: 30%;
	cursor: pointer;
}

.smile:hover {
	border: 4px #0672DE solid;
}

.smile__img {
	width: 100%;
}

.smile__title {
	text-align: center;
}