.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20%;
  cursor: pointer;
  text-decoration: none;
  width: 180px;
  height: 200px;
  padding: 20px;
}

.card_orange {
  background-color: #F85623;
}

.card_green {
  background-color: #64BF44;
}

.card_blue {
  background-color: #0672DE;
}

.card__imageBack {
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 140px;
}

.card__image {
  margin: 20px;
  width: 100px;
  height: 100px;
}

.card__title {
  color: #EDF5E1;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
}


@media screen and (max-width: 830px) {
  .card {
    margin: 20px 0;
  }
}