.card {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15%;
  padding: 20px 0;
  cursor: pointer;
  text-decoration: none;
  background-color: #05386B;
  width: 30%;
  height: 280px;
  min-height: 115%;
}

.card__imageBack {
  background-color: #C4C4C4;
  border-radius: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image {
  width: 80%;
  height: 80%;
}

.card__title {
  color: #EDF5E1;
  height: 15%;
}
