@import url('https://fonts.googleapis.com/css2?family=Ranga:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Ranga";
  box-sizing: border-box;
}

#root {
  color: #fff;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}